[versions]
kotlin = "2.2.0"
paperweight = "2.0.0-SNAPSHOT"
resourceFactory = "1.3.0"

[libraries]
kotlinJvm = { group = "org.jetbrains.kotlin.jvm", name = "org.jetbrains.kotlin.jvm.gradle.plugin", version.ref = "kotlin" }

semver4j = "com.vdurmont:semver4j:3.1.0"
expiringMap = "net.jodah:expiringmap:0.5.11"
adventurePlatformBukkit = "net.kyori:adventure-platform-bukkit:4.4.0"

commandApi = "dev.jorel:commandapi-bukkit-shade:10.1.0"
lombok = "org.projectlombok:lombok:1.18.38"
bStats = "org.bstats:bstats-bukkit:3.1.0"
dynamicUV = "com.github.toxicity188:DynamicUV:1.0.3"

[bundles]
library = [
    "semver4j",
    "expiringMap",
    "adventurePlatformBukkit"
]

shadedLibrary = [
    "commandApi",
    "bStats",
    "dynamicUV"
]

[plugins]
resourceFactoryBukkit = { id = "xyz.jpenilla.resource-factory-bukkit-convention", version.ref = "resourceFactory" }
paperweight = { id = "io.papermc.paperweight.userdev", version.ref = "paperweight" }

standardConvention = { id = "standard-conventions" }
bukkitConvention = { id = "bukkit-conventions" }
paperweightConvention = { id = "paperweight-conventions" }